/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/stage-light.jpg') no-repeat center center fixed;
  background-size: cover;
}
.head, .links {
  text-align: center;
  font-size: 1rem;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
img {
  width: 26%;
  height: 26%;
  border-radius: 20%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}
img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .4);
  border-radius: 45px;
  box-shadow: hsla(240, 100%, 85%, .8) 10px 10px 80px;
}
.profile-image {
  margin-top: -12.5%;
}

/* Pozicionálás */
.profile-card {
  width: 35.139%;
  height: 70%;
  max-width: calc(100vw - 10px);
}
/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
.head, .about {
  margin-bottom: 0.732%;
}
a {
  color: #00004d;
  font-size: 1.5625rem;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1rem;
}
.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  font-size: 1rem;
}